* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 32px;
    font-size: 20px;
}

body {
    margin: 0;
    background-color:  #f9f7f4;

}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style: none;
}

        /* Header e navegação */

ul {
    list-style: none;
}

.logo {
    width: 120px;
    object-fit: cover;
}

/* Header e navegação */
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: #1c1c1c;
    padding: 15px 20px;
}

.navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: 16px;
}


.nav-links {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 20px;
}

.nav-links li a {
    color: white;
    transition: .4s;
    font-size: 15px;
    margin: 4px;
}

.nav-links li a:hover {
    color: #575757;
}


.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
}

.hamburger .bar {
    width: 30px;
    height: 1px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333333;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        gap: 10px;
    }

    .nav-links li {
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}  
   
   
   /*Container1*/


.container {
    padding-top: 20% ;
    display: flex;
    flex: 1;
    background-color: #f9f7f4;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 20px;
}

/* Lado do texto */

.text-side {
    padding-top: 20% ;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
   
}

/* Lado do slide */
.slider-side {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}

/* Estilo do slider */
.slides {
    display: flex;
    transition: transform 0.5s ease;
    
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 80%;
    height: 550px;
    border-radius: 5px;
    object-fit: cover;

}


/* Responsividade */
@media (max-width: 768px) {
.container {
    flex-direction: column;
}
.slider-side, .text-side {
    flex: none;
    width: 100%;
}
}

/* Botões de navegação dos slides */
.prev, .next {
    background-color: #f9f7f4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f7f4;
    font-size: 12px;
  }